{% extends 'base.html.twig' %}

{% block title %}Reservation
{% endblock %}

{% block body %}

	<h1>{{info_reservation }}</h1>

	{{ form_start(clientForm) }}

	{{ form_row(clientForm.nom) }}
	{{ form_row(clientForm.prenom) }}
	{{ form_row(clientForm.telephone) }}


	<button class="btn btn-lg btn-primary  my-3" type="submit">
		Reserver
	</button>

	{{ form_end(clientForm) }}

{% endblock %}
