{% extends 'base.html.twig' %}

{% block title %}Artistes
{% endblock %}

{% block body %}
	<div
		class="text-center">


		{# Liste des categories  {{ dump(categorys) }} #}

		{% for category in categorys %}

			<a href="{{ path('app_artistes') }}" role="button" class="btn btn-outline-{{ category.color }}">{{ category.name }}</a>

		{% endfor %}

		<div class="row my-5">
			{%  for artist in artistes %}
				<div class="col-4">

					<div class="card border-{{ artist.color }} mb-3">

						<div class="card-header text-end">


							<span class="badge rounded-pill bg-{{ artist.color }}">{{artist.concert ? 'concert' : 'concert de rue' }}</span>
						</div>

						<div class="card-body">

							<h4 class="card-title">
								{{ artist.name }}</h4>
							<p class="card-text">{{ artist.description }}</p>
							<a href="#" class="card-link">Decouvir l'artiste</a>

						</div>


					</div>
				</div>
			{% endfor %}
		</div>
	{% endblock %}
