{% extends 'base.html.twig' %}

{% block title %}Artistes
{% endblock %}

{% block body %}
	<div
		class="text-center">


		{# Liste des categories  {{ dump(categorys) }} #}

		{% for category in categorys %}

			{#  couleur melodique #}
			
				<a href="#" role="button" class="btn btn-outline-primary">{{ category }}</a>

			{% endif %}

			{#  couleur Industrielle #}
			{% if category .id == 2 %}
				<a href="#" role="button" class="btn btn-outline-secondary">{{ category }}</a>

			{% endif %}

			{#  couleur Groovy #}
			{% if category .id == 3 %}
				<a href="#" role="button" class="btn btn-outline-success">{{ category }}</a>

			{% endif %}

			{#  couleur Deep #}
			{% if category .id == 4 %}
				<a href="#" role="button" class="btn btn-outline-info">{{ category }}</a>

			{% endif %}

			{#  couleur Detroit #}
			{% if category .id == 5 %}
				<a href="#" role="button" class="btn btn-outline-warning">{{ category }}</a>

			{% endif %}


		{% endfor %}


		<div class="row my-5">
			{%  for i in 1..12 %}
				<div class="col-4">

					<div class="card border-primary mb-3">

						<div class="card-header text-end">
							<span class="badge rounded-pill bg-primary">concert</span>
						</div>

						<div class="card-body">

							<h4 class="card-title">Artiste N°:
								{{ i }}</h4>
							<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	{% endblock %}
