{% extends 'base.html.twig' %}

{% block title %}Artistes
{% endblock %}

{% block body %}
	<div
		class="text-center">


		{# Liste des categories  {{ dump(categorys) }} #}

		{% for category in categorys %}


			{% if  category .id == 1 %}
				<button type="button" class="btn btn-outline-primary">{{ category }}</button>

			{% endif %}


			{% if category .id == 2 %}
				<button type="button" class="btn btn-outline-secondary">{{ category }}</button>

			{% endif %}

			{% if category .id == 3 %}
				<button type="button" class="btn btn-outline-success">{{ category }}</button>

			{% endif %}
			{% if category .id == 4 %}
				<button type="button" class="btn btn-outline-info">{{ category }}</button>

			{% endif %}
			{% if category .id == 5 %}
				<button type="button" class="btn btn-outline-warning">{{ category }}</button>

			{% endif %}

		{% endfor %}


		<div class="row my-5">
			{%  for i in 1..12 %}
				<div class="col-4">

					<div class="card border-primary mb-3">

						<div class="card-header">Artiste N °:
							{{ i }}
						</div>
						<div class="card-body">
							<h4 class="card-title">Primary card title</h4>
							<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	{% endblock %}
